<section>
    <ul>
        <li>This is game #: {{game.gameid}}</li>
        <li>Home Team: {{game.home}}</li>
        <li>Away Team: {{game.away}}</li>
        <li>Location: {{game.location}}</li>
        <li>Time: {{game.time}}</li>
    </ul>
</section>