<section>
    <ul>
        <li>This is game #: {{game.gameid}}</li>
        <li>Home Team: {{team.home}}</li>
        <li>Away Team: {{team.away}}</li>
        <li>Location: {{team.location}}</li>
        <li>Time: {{game.time}}</li>
    </ul>
</section>