<section id="leaguestandings">
    <div id="eastern" class="conference">
        <div class="">
            Eastern Conference
        </div>
        <div class="team">
            <div class="stats">
                <div class="stats-item">
                    <a>TN{{team.name}}</a>
                </div>
                <div class="stats-item">
                    Wins: {{team.wins}}
                </div>
                <div class="stats-item">
                    Losses: {{team.losses}}
                </div>
            </div>
        </div>
        <div class="team">
            <div class="stats">
                <div class="stats-item">
                    <a>TN{{team.name}}</a>
                </div>
                <div class="stats-item">
                    Wins: {{team.wins}}
                </div>
                <div class="stats-item">
                    Losses: {{team.losses}}
                </div>
            </div>
        </div>
    </div>
    <div id="western"class="conference">
        <div class="">
            Western Conference
        </div>
        <div class="team">
            <div class="stats">
                <div class="stats-item">
                    <a>TN{{team.name}}</a>
                </div>
                <div class="stats-item">
                    Wins: {{team.wins}}
                </div>
                <div class="stats-item">
                    Losses: {{team.losses}}
                </div>
            </div>
        </div>
        <div class="team">
            <div class="stats">
                <div class="stats-item">
                    <a>TN{{team.name}}</a>
                </div>
                <div class="stats-item">
                    Wins: {{team.wins}}
                </div>
                <div class="stats-item">
                    Losses: {{team.losses}}
                </div>
            </div>
        </div>
    </div>
</section>